services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=chat_backend
    ports:
      - "5434:5432"
    volumes:
      - data-volume:/var/lib/postgresql/data
  chat_backend:
    image: chat_backend
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000

volumes:
  data-volume:
